@import "compass/reset";
@import "compass";

$ultradark: #080d02;

/**
 * H: 280
 * S: 60%
 * L: 45%
 */
$dark: #34400d;

/**
 * H: 280
 * S: 60%
 * L: 60%
 * 528729
 */
$vivid: #536614;

/**
 * H: 280
 * S: 15%
 * L: 90%
 */
$light: #c6e65c;

/**
 * H: 280
 * S: 10%
 * L: 95%
 */
$ultralight: #dff29d;

/**
 * H: 280
 * S: 5%
 * L: 90%
 */
$desaturated: #eff2e6;

$helvetica: "Helvetica", "Arial", sans-serif;

$arimo: "Arimo", $helvetica;

$tahoma: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Ludica Sans", "Tahoma", $helvetica;

html, body, #root {
    height: 100%;
}

body {
    font: 14px/1.4em $arimo;
    color: $ultradark;
    background: url("/img/dandelion.png") #3d530c;
}

.left-right {
    clear: both;

    .left {
        float: left;
    }

    .right {
        float: right;
    }
}

.pull-right {
    float: right;
}

.image-captioned {
    clear: both;
    margin-bottom: 2em;

    .image-wrap {
        float: left;
        margin: 0 1em 2em 0;
    }

    &.large .caption-wrap {
        margin-left: 108px;
    }
}

.image-wrap {
    display: inline-block;
    position: relative;
    padding: 4px;
    line-height: 0px;
    border: 1px solid #b2b2b2;

    &, & img {
        @include border-radius(2px);
    }
/*
    &.okay .status {
        position: absolute;
        right: 4px;
        bottom: 4px;
        width: 98px;
        height: 16px;
        @include background-image(
            url("/img/check.png"),
            linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, .4), rgba(0, 0, 0, 0.6))
        );
        background-repeat: no-repeat;
        background-position: bottom right;
        
    }
*/
}

header {
    height: 41px;
    background-color: #000;
    @include box-shadow(0 2px 6px -4px black);

    #headerContainer {
        width: 900px;
        margin: 0 auto;
    }

    #headerArea {
        margin-left: 15px;
    }

    ul {
        display: inline;

        li {
            display: block;
            float: left;
            margin: 0 20px 0 0;
            padding: 10px 0 0;
            font: 15px $tahoma;
            color: #ccc;
            text-decoration: none;

            &.active {
                font-weight: bold;
                color: #fff;
            }
            &.active, &:hover {
            }

            a {
                color: #e8e8e8;
                text-decoration: none;

                &:hover {
                    padding-top: 7px;
                    color: #fff;
                    border-top: 3px solid $light;
                }
            }
        }
    }
}

#main {
}

#mainHeaderContainer {
    background: url("/img/dandelion-overlay.png") #688045 no-repeat fixed;
    height: 100px;
}

#mainHeader {
    h1 {
        padding-top: .5em;
        font-size: 44px;
        color: #fff;
        @include text-shadow(1px 1px 2px rgba(0, 0, 0, .4));
    }

    p {
        padding-top: 1.7em;
        font-size: 16px;
        font-weight: bold;
        color: #F0EBD8;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    }
}

#mainHeader, #mainBody {
    position: relative;
    width: 880px;
    margin: 0 auto;
    padding: 0 10px;
}

#mainBody {
    margin-top: 95px;
}

#leftCol {
    float: left;
    width: 270px;
}

#contentCol {
    float: right;
    width: 580px;
    background: #f0ebd8 no-repeat fixed;
    @include border-radius(2px);
    @include box-shadow(1px 2px 6px rgba(0, 0, 0, .5));
}

#contentArea {
    height: 100%;
    margin-top: 28px;
    padding: 0 0 0 48px;

    h2 {
        margin: 0 0 14px 0;
        font: bold 44px $tahoma;
        letter-spacing: -1px;
        line-height: 1em;
        color: $vivid;

        a {
            color: $vivid;
            text-decoration: none;

            &:hover {
                color: #78a310;
            }
        }
    }

    ul {
        position: relative;
        left: -20px;
        width: 590px;
        
        &.overview li {
            margin: 0 0 0 20px;
        }
    }
}
