<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title></title>
  <meta name="description" content="">

  <meta name="viewport" content="width=device-width">

  <link href='http://fonts.googleapis.com/css?family=Arimo:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
  <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <link href="/css/print.css" media="print" rel="stylesheet" type="text/css" />
  <!--[if IE]>
    <link href="/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <![endif]-->

  <script src="js/libs/modernizr-2.5.3.min.js"></script>
</head>
<body class="signup">
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
  <div id="root">

    <header>
      <div id="headerContainer">
        <div id="headerArea">
          <ul class="nav">
            <li class="active"><a href="#">Sign Up</a></li>
          </ul>
          <ul class="nav pull-right">
            <li>Hello, stranger</li>
            <li><a href="#">About ChipDoctor</a></li>
          </ul>
        </div> <!-- #headerArea -->
      </div> <!-- #headerContainer -->
    </header>

    <div role="main" id="main">
      <div id="mainHeaderContainer">
        <div id="mainHeader">
          <h1>Sign up for ChipDoctor</h1>
          <p>Peace of mind is just a few clicks away.</p>
        </div> <!-- #mainHeader -->
      </div> <!-- #mainHeaderContainer -->
      <div id="mainBody">
        <div id="contentCol">
          <div id="rightColContainer">
            <div role="complementary" id="rightCol">
            </div> <!-- #rightCol -->
          </div> <!-- #rightColContainer -->
          <div id="contentArea">
            <p>
              <label>Name</label>
              <input id="username" type="text" placeholder="Richard Feynman">
            </p>
            <p>
              <label>Password</label>
              <input id="password" type="password" placeholder="********">
            </p>
            <p>
              <label>Blood Type</label>
              <input id="bloodType" type="text" placeholder="O+">
            </p>
            <p>
              <label>Allergies</label>
              <input id="allergies" type="text" placeholder="peanuts, tree nuts">
            </p>
            <p>
              <label>Emergency Contact</label>
              <input id="contact" type="text" placeholder="John Archibald Wheeler">
            </p>
            <p>
              <label>Contact #</label>
              <input id="contactNum" type="tel" placeholder="919-555-5309">
            </p>
            <br>
            <button id="signButton">Sign up</button>
          </div> <!-- #contentArea -->
        </div> <!-- #contentCol -->

      </div> <!-- #mainBody -->
    </div> <!-- #main -->

    <footer>

    </footer>

  </div> <!-- #root -->

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\/script>')</script>

  <script src="js/plugins.js"></script>
  <script src="js/script.js"></script>

  <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>

  <script>

$(document).ready(function () {
  $(document).keydown(function (e) {
    if (e.which === 13) {
      $("#signButton").click();
    }
  })

  $("#signButton").click(function () {
    register();
  });

  var register = function () {
    var name = $("#username").val();
    var pw = $("#password").val();
    var allergies = $("#allergies").val().split(',');
    var bloodType = $("#bloodType").val();
    var contactName = $("#contact").val();
    var contactNumber = $("#contactNum").val();
    var contactJson = {name : contactName, phoneNumber: contactNumber};
    var contact = [contactJson];

    if (name && pw && allergies && bloodType && contactName && contactNumber) {
      $.post("http://localhost:8080/signup", {
        username: name,
        password: pw,
        allergies: allergies,
        contacts: contact,
        bloodType: bloodType
      }, function (data) {
        if (data['status'] === "ok") {
          window.location.href = "/";
        } else {
          log("Some error occurred", data);
        }
      });
    } else {
      alert("Fill out all fields");
    }
  }

});

  </script>

</body>
</html>
